.sidebar {
  display: flex;
  flex: 0.35;
  height: 100vh;
  background-color: #980098; // TODO Homeへ移動

  &__left {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #600060;
    padding: 7px 15px;

    .sever-icon {
      width: 55px;
      height: 55px;
      background-color: #f900f9;
      border-radius: 9999px;
      margin-bottom: 10px;
      position: relative;
      margin-top: 7px;

      img {
        position: absolute;
        width: 50px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  &__right {
    background-color: #c600c6;
    width: 300px;

    &__top {
      color: white;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px;
    }
  }
}
